extends layout

block pageTitle
    title='Ipravem'

block content
    .jumbotron
        h1 Ipraven
        p Distraction free Youtube watching

        .addthis_sharing_toolbox

    script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c7629069739f24" async="async")
