extends layout

block pageTitle
    title='Video'

block og
    meta(property="og:image" content="https://www.test.de/filestore/4882356_tdw_offene_immofonds_290.jpg?path=/a3/80/8e8b8491-f576-48e2-a97a-ad0b023bde03-web.jpg&key=657F688FB9B99A6D716E31921525CA1E9809DBBC")
    meta(property="og:title" content="Custom OG Title")
    meta(property="og:description" content="Description 123")

block content
    .container-fluid
        .videoWrapper
            iframe(width="1280" height="720" src="https://www.youtube.com/embed/#{youtubeId}?showinfo=0" frameborder="0" allowfullscreen)
        //.info-box
        //    p
        //        a(href="https://www.youtube.com/watch?v=#{youtubeId}" target="_blank") Youtube Link
        .addThisPlugin
            .addthis_sharing_toolbox
            script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c7629069739f24" async="async")

    .container-fluid

        a(class="muut" href="https://muut.com/i/ipraven/comments/#{youtubeId}" type="dynamic") ipraven forum

     
     
     script(src='//cdn.muut.com/1/moot.min.js')



